.header {
    background-color: #ffffff;
}

.header-container-one {
    padding: 7px 0; 
    margin: 7px 0; 
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    margin: 0 auto;
}

.header-container-two {
    padding: 7px 0; 
    margin: 7px 0; 
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    margin: 0 auto;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Пример цвета фона, замените на ваш */
    z-index: 1000; /* При необходимости установите z-index, чтобы элемент был выше остального контента */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Пример тени, замените по вашему усмотрению */
}

.header-item {
    display: flex;
    align-items: center; 
}

.header-icon {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
    opacity: 0.7;
    margin-right: 5px; 
}

.header-logo {
    width: 75px;
    height: 48px;
}

.header-text {
    font-size: 14px;
    color: #777;
}

.header-text-strong {
    font-size: 16px;
    font-weight: bold;
}

.headers-line{
    border-bottom: 1px solid #55555525; ;
}

.callback-button,
.login-button {
    background-color: #ffffff; 
    border: none; 
    padding: 8px 16px; 
    margin-left: 10px; 
    cursor: pointer; 
}

.callback-button:hover,
.login-button:hover {
    color: #a8a8a8;
}


.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    height: 40px; /* Высота поля ввода */
    width: 500px; /* Заполнение всего доступного пространства в контейнере */
    font-size: 16px; /* Размер шрифта */
    box-sizing: border-box; /* Включение паддинга в общую ширину элемента */
}

.search-button {
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc;
    border-left: 0;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    height: 40px; /* Высота кнопки */
    width: 40px; /* Ширина кнопки */
    font-size: 16px; /* Размер шрифта */
    box-sizing: border-box; /* Включение паддинга в общую ширину элемента */
}



.header-text-two {
    color: #000000;
    font-size: 14px;
    cursor: pointer;
}


.nav-back {
    background-color: #5c5c5c;
    width: 100%;
}

.nav-tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 0 auto;
}


.nav-tabs a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 14px 40px;
    display: block;
}

.nav-tabs a:hover {
    background-color: #484848;
   
}