/* styles.css */
:root {
    --max-container-size: 1200px; 
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-v15-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot') format('eot');

    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ffffff;
}


.max-container {
    max-width: var(--max-container-size);
    
}

.header-container-one {
    padding: 7px 0; 
    margin: 7px 0; 
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    margin: 0 auto;
}

.header-container-two {
    padding: 7px 0; 
    margin: 7px 0; 
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    margin: 0 auto;
}

.header-item {
    display: flex;
    align-items: center; 
}

.header-icon {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
    opacity: 0.7;
    margin-right: 5px; 
}

.header-logo {
    width: 75px;
    height: 48px;
}

.header-text {
    font-size: 14px;
    color: #777;
}

.header-text-strong {
    font-size: 16px;
    font-weight: bold;
}

.headers-line{
    border-bottom: 1px solid #55555525; ;
}

.callback-button,
.login-button {
    background-color: #ffffff; 
    border: none; 
    padding: 8px 16px; 
    margin-left: 10px; 
    cursor: pointer; 
}

.callback-button:hover,
.login-button:hover {
    color: #a8a8a8;
}


.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    height: 40px; /* Высота поля ввода */
    width: 500px; /* Заполнение всего доступного пространства в контейнере */
    font-size: 16px; /* Размер шрифта */
    box-sizing: border-box; /* Включение паддинга в общую ширину элемента */
}

.search-button {
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc;
    border-left: 0;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    height: 40px; /* Высота кнопки */
    width: 40px; /* Ширина кнопки */
    font-size: 16px; /* Размер шрифта */
    box-sizing: border-box; /* Включение паддинга в общую ширину элемента */
}

.no-underline {
    text-decoration: none;
}

.header-text-two {
    color: #000000;
    font-size: 14px;
    cursor: pointer;
}



nav {
    background-color: #5c5c5c;
    width: 100%;
    transition: top 0.3s;
}

.nav-tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-tabs a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 14px 40px;
    display: block;
}

.nav-tabs a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 80px 20px 20px; /* Add top padding to avoid content hiding behind the fixed nav */
    text-align: center;
}

.content {
    display: none;
}

#home {
    display: block;
}

footer {
    background-color: #5c5c5c; /*#f1f1f1*/
    padding: 20px;
    text-align: center;
}

footer .map {
    margin-bottom: 20px;
}

/* Центрирование карты */
.map-container {
    display: flex;
    justify-content: center;
}

/* Стили для карточек товаров */
.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
}
